<!-- 
<!DOCTYPE html>
<html>
<head>
    <title>Image Upload and Verification</title>
</head>
<body>
    <h1>Image Upload and Verification</h1>
    
</body>
</html>
 -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Rendering Local Images Using Flask</title>
</head>
<body>
    <h1>Image Upload and Verification</h1>
    <form method="POST"  enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*">
        <input type="submit" value="Upload and Verify">
    </form>
    <!-- <img src= "{{image}}" > -->
    <!-- <h1> after form submission</h1> -->
</body>
</html>